*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: bisque;
}

.App{
  width: 500px;
  background-color: palevioletred;
  margin: auto;
}
h1{
  text-align: center;
}
.btn{
  display: block;
  margin: auto ;
}
.alt{
  background-color: purple;
  width: 93%;
  color: white;
  display: block;
  margin-bottom: 2rem;
}
