.NavbarAll{
    background-color: #E1F1DD;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}
a , link{
    margin: 1rem;
    text-decoration: none;
    padding: 1rem;
}